@model Garage3._0.Models.ViewModels.VehiclesIndexViewModel


@{
    var searchFormModel = new Garage3._0.Models.ViewModels.SearchFormViewModel {
        SearchQuery = Model.SearchQuery,
        FormAction = "Index",
        FormController = "Vehicles",
        PlaceholderText = "Search vehicle type, license plate or both"
    };
}

<div class="container">
    <h2>Parked Vehicles Overview</h2>

    @await Html.PartialAsync("_SearchForm", searchFormModel)

    <table class="table table-sm table-bordered mb-0">
        <thead>
        <tr class="bg-secondary text-white">
            <th>Owner</th>
            <th>Membership Type</th>
            <th>Vehicle Type</th>
            <th>License Plate</th>
            <th>Parking Start Time</th>
            <th>Parking End Time</th>
            <th>Parked Time</th>
            <th style="width: 200px;">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in Model.Vehicles) {
            <tr class="bg-light">
                <td>@vehicle.OwnerName</td>
                <td>@vehicle.Membership.Type</td>
                <td>@vehicle.VehicleTypeName</td>
                <td>@vehicle.LicensePlate</td>
                <td>@vehicle.ParkingStartDisplay</td>
                <td>@vehicle.ParkingEndDisplay</td>
                <td>@vehicle.ParkedTime.TotalHours.ToString("F2") hours</td>
                @await Html.PartialAsync("_ParkingButton", vehicle)
            </tr>
        }
        </tbody>
    </table>

</div>

